#main {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#percents {
  margin: 20px auto;
  padding: 5px 20px;
  text-align: left;
  font-size:48px;
  background-color: back;
  border: 3px solid gray;
  color: gray;
}

#percents div {
  float: right;
  font-size:25px;
  margin-top: 15px;
}

#percent_count {
  display: block;
  clear: both;
  float: none;
  width: 60%;
  background-color: green;
}

.radio-active {
  background-color: green;
}

.hide {
  display:none
}

input[type=checkbox]:checked + label {
  background: red;
}

.questions{
  width:900px;
  text-align: left;
  color: black;
  margin-left: auto;
  margin-right: auto;
  background-color: lightgray;
  padding: 10px;
}

.main_question{
  color: red;
  font-size: 40px;
  font-weight: 100;
  line-height: 1.5
}

.btn{
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  padding: 15px 32px;
  color: white;
  text-align: center;
}

.btn_next{
background-color: #4CAF50;
border: none;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
cursor: pointer;
float: left;
}

.btn_next:hover{
background-color: #3e8e41;
}

.btn_back{
background-color: #4CAF50;
border: none;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
cursor: pointer;
float: left;
}

.btn_back:hover{
background-color: #3e8e41;
}

.btn_submit{
display: inline-block;
float: right;
border-radius: 4px;
border: none;
color: #FFFFFF;
text-align: center;
padding: 20px;
width: 100px;
transition: all 0.5s;
cursor: pointer;
margin: 5px;
}
.btn_submit span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn_submit span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn_submit :hover span {
  padding-right: 25px;
}

.btn_submit :hover span:after {
  opacity: 1;
  right: 0;
}
